@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.App {
  text-align: center;
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btnanimation :hover {
  background-color: orange;
}

.headercolor {
  color: rgb(37, 36, 36);
  text-shadow: 0.5px 0.5px 1px rgb(173, 172, 172);
}

.headercolorc {
  text-shadow: 1px 1px 5px rgb(80, 79, 79);
}

.headertwocolor {
  color: rgb(83, 79, 79);
  text-shadow: 0.5px 0.5px 5px rgb(173, 172, 172);
}

.headercolorc2 {
  color: rgb(255, 255, 255);
  text-shadow: 4px 4px 4px rgb(0, 0, 0);
}

.fltbtn {
  text-shadow: 0.5px 0.5px 1px rgb(173, 172, 172);
  margin-top: 22px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  text-align: center;
}
